<div class="row">
  <section class="main col-md-9">
    {{#if data.post}}
    <article>
      <h2>{{data.post.title}}</h2>
      <br />
      {{#if data.post.image}}
      <img src={{data.post.image}} alt="feature Image" style="width:100%" />
      {{else}}
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg" alt="no Image"
        style="width:60%" />
      {{/if}}

      <br /><br />

      <div class="main-text">
        {{#each data.post.body}}
        <p>{{this}}</p>
        {{/each}}
      </div>

      <br /><br />

      {{#if data.post.video}}
      <br />
      <hr />
      <h4>Video Instruction:</h4>

      <div>
        <iframe id="video-embed" width="560" height="315" src={{data.post.embeddedVideo}} title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>
      </div>

      {{/if}}

      <br />
      <hr />
      <strong>Category:</strong>
      {{data.post.category}}<br />
      <strong>Last Updated:</strong>
      {{#formatDate data.post.postDate}}{{/formatDate}}
    </article>
    {{/if}}

    {{#unless data.post}}
    <article>
      <div class="col-md-12 text-center">
        <h2>{{data.message}}</h2>
        <h4>No Information available</h4>
        <p>Please try another Recipe / Category</p>
      </div>
    </article>
    {{/unless}}
  </section>

  <aside class="col-md-3">
    <br /><br />
    {{#if data.posts}}
    <h4>Recipes</h4>
    {{#each data.posts}}
    <ul class="list-group">
      <a href="/blog/{{id}}" class="list-group-item">{{title}}</a>
    </ul>
    {{/each}}
    {{/if}}

    {{#if data.categories}}
    <h4>Categories</h4>
    {{#each data.categories}}
    <ul class="list-group">
      <a href="/blog?category={{this}}" class="list-group-item">{{this}}</a>
    </ul>
    {{/each}}
    {{/if}}

  </aside>
</div>