<div class="row">
  <div class="col-md-12">
    {{#unless posts}}
    <div class="col-md-12 text-center" style=" margin: 30px auto;">
      <h2>{{message}}</h2>
    </div>
    {{/unless}}

    <h2>Recipes<a href="/posts/add" class="btn btn-success pull-right">New Recipe</a></h2>
    <hr />

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Recipe&nbsp;ID</th>
            <th>Name</th>
            <th>Post&nbsp;Date</th>
            <th>Category</th>
            <th>Published</th>
            <th>Video</th>
          </tr>
        </thead>

        <tbody>
          {{#each posts}}
          <tr>
            <td>{{id}}</td>
            <td><a href="/blog/{{id}}" target="_blank">{{title}}</a></td>
            <td>{{#formatDate postDate}}{{/formatDate}}</td>
            <td><a href="/posts?category={{category}}">{{category}}</a></td>
            <td>{{published}}</td>
            {{#if video}}
            <td><a href={{video}} target="_blank">watch video</a></td>
            {{else}}
            <td></td>
            {{/if}}

            <td><a class="btn btn-danger" href="/posts/delete/{{id}}">Remove</a></td>
          </tr>
          {{else}}
          <tr>
            <td>No Recipe Information</td>
          </tr>
          {{/each}}
        </tbody>

      </table>
    </div>
  </div>
</div>